@model CozyCafe.Models.DTO.Admin.DiscountDto

@{
    ViewData["Title"] = "Деталі знижки";
}

<h1>Деталі знижки</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Код</dt>
        <dd class="col-sm-10">@Model.Code</dd>

        <dt class="col-sm-2">Відсоток</dt>
        <dd class="col-sm-10">@Model.Percent %</dd>

        <dt class="col-sm-2">Дійсна до</dt>
        <dd class="col-sm-10">@Model.ValidTo.ToString("dd.MM.yyyy")</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
</p>
